.modal-header {
  background-color: #1A4870;
  color: #fff;
}

.modal-title {
  margin: 0 auto;
}

.btn-close {
  background-color: transparent;
  border: none;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  border-radius: 5px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

.modal-footer .btn {
  min-width: 100px;
  border-radius: 5px;
}

.modal-body {
  background-color: #f8f9fa;
}

.modal-content {
  border-radius: 10px;
  
}
.question-create{
  max-width: 2050px;
}

.form-group {
  margin-bottom: 1rem;
}

textarea.form-control {
  resize: none;
}

input[type="file"].form-control-file {
  padding: 5px;
}

.modal-dialog {
  max-width: 800px;
}
